@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #2F9AFF;
  
}

body {

  width: 100%;
  height: 100vh;
  
}

/* Header, nav and sidebar*/
header {
  display: relative;
}

nav {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 6vh;
  background: linear-gradient(45deg, #008DDA, #41C9E2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 0 10px grey, 2px 0 10px grey;

}

nav .menuBar {
  margin-left: 15px;

}

nav .menuBar i {
  font-size: 1.5rem;
  color: white;
}

#btn {
  transition: 2s;
}

nav .search {
  margin-right: 15px;


}

nav .search i {
  font-size: 1.5rem;
  color: white;
}


.sideBar {
  background: #FFFFFF;
  position: fixed;
  width: 70%;
  height: 100vh;
  z-index: 4;
  left: 0;
  transform: translate(-100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: transform .5s ease;
  overflow: hidden;
  box-shadow: inset 1px 0 15px grey;

}

.hideBar {
  transform: translate(0%);
  transition: .5s ease;

}

.sideBar .links {
  margin-top: -55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sideBar .links ul {
  list-style: none;
  width: 100%;
}

.sideBar .links ul li {
  padding: 10px;
  margin-top: 30px;
  font-size: 1.2rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.links ul li:hover {
  background: linear-gradient(45deg, #008DDA, #41C9E2);
}




.sideBar .links ul li a {
  text-decoration: none;
  margin: 0 auto;
  color: #008FBE;
}

.links ul li:hover a {
  color: white;
}

.sideBar .links ul li i {
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  color: #008FBE;
}

.links ul li:hover i {
  color: white;
}



.sideBar .social {
  margin-bottom: -100px;
  display: flex;

}

.social a {
  text-decoration: none;
}

.sideBar .social i {
  margin: 6px;
  font-size: 1.7rem;
  padding: 5px;

  border-radius: 1.5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}

.fa-facebook {
  color: #1877F2;
  transition: .4s;
}

.fa-youtube {
  color: #FF0000;
  transition: .4s;
}

.fa-whatsapp {
  color: #53FF26;
  transition: .4s;
}

.fa-instagram {
  color: #d62976;
  transition: .4s;
}
.fa-reddit {
  transition: .4s;
}
.fa-x-twitter {
  transition: .4s;
}
.fa-linkedin{
  transition: .4s;
}

.fa-pinterest {
  transition: .4s;
}


.fa-x-twitter:hover {

  transform: scale(1.2);
}


.fa-facebook:hover {

  transform: scale(1.2);
}

.fa-whatsapp:hover {

  transform: scale(1.2);
}

.fa-instagram:hover {

  transform: scale(1.2);
}
.fa-reddit:hover {

  transform: scale(1.2);
}

.fa-youtube:hover {

  transform: scale(1.2);
}
.fa-pinterest:hover {

  transform: scale(1.2);
}
.fa-linkedin:hover {

  transform: scale(1.2);
}




section {
  width: 100%;
}


/* Hero Section*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 55vh;
  border-bottom: .1px solid grey;
}

.banner h1 {
  color: #414141;
  margin-top: 30%;

}

.banner #element {
  color: #2F9AFF;
}

.banner p {
  text-align: center;

  margin: 10px;
  margin-top: 5px;
  color: #686868;
  padding: 10px;
}

.banner span {
  color: #21BAFF;
  margin-top: -2px;
}

.banner .mainIcon i {
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 27px;
  margin-bottom: 10%;
}

/* Project Section*/
.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  margin-top: 27%;
  height: 50vh;
}

.projects p {
  font-size: 1.5rem;

}

.projects .firstRow,
.secondRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;

}

.projects .gridbox {
  width: 30%;
  height: 80%;

  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 0 10px grey;
}

.gridbox img {
  border-radius: 50%;
  width: 46%;
  height: 40%;
}

.gridbox button {
  width: 70%;

  height: 20%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #2F9AFF;
  color: white;
  font-size: 1rem;
}

/* progress Section*/

.progress {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 27%;

}

.progress p {
  font-size: 1.5rem;
}

.upper {
  width: 100%;
  height: 30%;

}

.upper p {
  margin-bottom: 3%;
  font-size: 1.2rem;
  margin-left: 5%;
  color: #414141;
  font-weight: 600;
}

.u2,
.u3 {
  margin-top: -4%;
}

.u1 {
  margin-top: 3%;
}

.prog {
  width: 90%;
  height: 20%;

  border-radius: 30px;
  overflow: hidden;
  margin: auto;
  border: .2px solid grey;

}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: #2F9AFF;
  border-radius: 30px;
  text-align: right;
}

.inner p {
  margin-top: 4%;
  color: white;
}

.inner1 {
  animation: progress1 2s ease forwards;
}

.inner2 {
  animation: progress2 2s ease forwards;
}

.inner3 {
  animation: progress3 2s ease forwards;
}

@keyframes progress1 {
  from {
    width: 10%;
  }

  to {
    width: 85%;
  }
}

@keyframes progress2 {
  from {
    width: 10%;
  }

  to {
    width: 80%;
  }
}

@keyframes progress3 {
  from {
    width: 10%;
  }

  to {
    width: 78%;
  }
}


/* Reference by*/
.inspired {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 27%;
  gap: 10%;

}

.inspired #ins {
  font-size: 1.5rem;
}

.inspired h2 {
  margin-top: 2%;
  font-family: "PT Sans", sans-serif;
}

.harry,
.Wscubetech,
.apnaCollage {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  padding: 2%;
  box-shadow: 0 0 8px grey, 0 0 8px grey;

}

.para {
  font-size: 10px;
  margin-top: 3%;
  text-align: justify;
  color: #686868;

}

.inspired h2 {
  color: #21BAFF;
}

.inspired img {
  width: 20%;
  height: 90%;
  border-radius: 50%;
  border: 1px solid lightgrey;
}


/* Comments Section*/
.commentsSec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 33%;
  height: fit-content;

}

.commentsSec p {
  font-size: 1.3rem;
}
.commBox{
  margin-top: 5%;
  width: 80%;
  
}

.commBox form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  border: 1px solid gray;
  padding: 5%;
  border-radius: 20px;
  box-shadow: 1px 0 8px grey, 
              1px 0 9px grey;
  
}


.commBox form label,
.commBox button {
  margin-top: 8%;
  margin-bottom: 2%;
  
}
.commBox label{
  color:  #21BAFF;
}
.commBox input
{
  padding: 2%;
  border-radius: 10px;
  color: black;
  outline: none;
  border: none;
  border: 1px solid grey;
}
.commBox textarea{
border-radius: 10px;
padding: 2%;
outline: none;
color: black;
outline: none;
border: none;
border: 1px solid grey;

}
.commBox button{
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 2%;
  height: 20%;
    background-color: #2F9AFF;
    color: white;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
}

/*Pop up box*/
#box{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  width:  60%;
height: 35%;
border-radius: 5%;
text-align: center;
box-shadow: inset 0 0 7px #677FAD;
background: white;
display: none;
transform: 2s;
z-index: 6;
}



#box h1{
  font-size: 120%;
  text-align: center;
  
  margin-top: 30%;
}
#box p{
  font-size: 90%;
  color: black;
  text-align: center;
  margin-top: 7%;
}
#ok{
  width: 26%;
  height: 8%;
  margin-top: 6%;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 80%;
  text-align: center;
  color: white;
  background-color:#52FF91;
  margin-top: 15%;
  font-weight: bold;
}



/*Share button*/
.sharesec{
  width: 100%;
  margin-top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.sharesec .share, .share ul{
  width: 90%;
display: flex;
  justify-content: space-around;
  align-items: center;


}
.share{
  position: relative;
  box-shadow: 0 0 5px grey,
    0 0 7px grey;
  border-radius: 10px;
  padding: 2%;
  overflow: hidden;

}
.share ul i{
  margin: 3%;
  font-size: 2rem;
}
.share::before{
  content: "Tap to share";
  position: absolute;
  background-color: #00AFFF;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: width 1s ease;
  left: 0;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center ;
  align-items: center;
color: white;
transition: .6s ease;
z-index: 3;
}


.share:hover::before{
  transform: translate(-100%);
}


/* footer */
footer{
  width: 100%;
  padding: 5%;
  background-color: #151A49;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  height: 40vh;
  margin-top: 28%;
} 
footer .infoLink ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.infoLink ul li{
  margin: 8%;
}
.infoLink ul li a{
  text-decoration: none;
  color: white;
  font-family: "PT Sans", sans-serif;
}


.infoLink li:hover {
  transform: scale(1.1);
  color: grey;
}
.infoLink li:hover a{
  color: lightgray;
}

footer .credit{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  
}
footer .thanks h2{
  color: #8FFFEB;
  margin-top: 20%;
  margin-bottom: 10%;
  font-family: "PT Sans", sans-serif;
}
footer .credit{
  margin-top: 10%;
}
.credit p{
  margin-top: 5%;
  color: white;
  font-family: "PT Sans", sans-serif;
}
.credit a{
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  color:#21BAFF;
}
